<!-- {% extends "layout.html" %}
{% block content %}
	<div class="container">
	    <form id="imageform" action="/file" method="post" name="imageform" enctype="multipart/form-data">
	    	<input type="file" name="file" id="file" class="inputfile" accept="image/*" data-multiple-caption="{count} files selected" multiple />
	    	<label for="file">Choose a file</label>
	    	<p>Or <a href="/">enter an image url</a></p>
	        <div class="option-container row">
		    	<input id="submit" type="submit" value="Get Tags">
		    	<input id="clear" type="reset" value="Clear">
		    </div>
	    </form>
	</div>
{% endblock %} -->