{% extends "layout.html" %}
{% block content %}
	<div class="container">
	    <form action="" method="post" name="imageform">
	    	{{ form.hidden_tag() }}
	    	<p>{{ form.imageurl(size=80) }}</p>
	    	{% for error in form.imageurl.errors %}
	        	<span style="color: red;">[{{ error }}]</span>
	        {% endfor %}<br>
	    	<p><input type="submit" value="Get Tags"></p>
	    </form>
	    <div class="results">
		    <div class="image">
		    	<img src="{{img}}" alt="">
		    </div>
		    <ul class="tags">
			    {% for key, value in tags.iteritems() %}
			    	<li class="tag">
			        	<p> {{ key }} </p>
			        	<div class="val-hidden"> 
			        		<p> {{ value }} </p>
			        	</div>
			   		</li>
			   	{% endfor %}
		   	</ul>
		</div>
	</div>
{% endblock %}