{% extends "layout.html" %}
{% block content %}
	<div class="container">
	    <form id="imageform" action="" method="post" name="imageform">
	    	{{ form.hidden_tag() }}
	    	{{ form.imageurl }}
	    	{% for error in form.imageurl.errors %}
	        	<span class="error-msg">[{{ error }}]</span>
	        {% endfor %}
	        <div class="option-container row">
		    	<input id="submit" type="submit" value="Get Tags">
		    	<input id="clear" type="reset" value="Clear">
		    </div>
	    </form>
	    <div class="results">
		    <div class="image">
		    	<img src="{{img}}" alt="">
		    </div>
		    <ul class="tags">
			    {% for key, value in tags.iteritems() %}
			    	<li class="tag">
			        	<p> {{ key }} </p>
			        	<div class="val-hidden"> 
			        		<p> {{ value }} </p>
			        	</div>
			   		</li>
			   	{% endfor %}
		   	</ul>
		</div>
	</div>
{% endblock %}